@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    column-gap: 25px ;
}
.contacts a{
    position: relative;
}
.contacts svg{
    column-gap: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    fill: #1f1f56;
}
.contacts svg:hover{
    fill: #fd8300;
    transition: all 1s;
}
ul li > a {
    transition: all .5s;   
    color: #b1b1d2;
    text-decoration: none;
}
ul li:hover > a{
    color: #fd8300;
}
body{
    font-family: arial;
    margin: 0;
}
.top-svg{
    fill: white;
}
.top-line {
    padding: 15px;
    background-color: #1f1f56;
}
.top-line ul{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
}
.button{
    font-family: "Arial";
}
.button a{
    font-weight: bold;
    padding: 13px;
    display: block;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.header{
    padding-top: 60px;
  }
.flex-between {
    display: flex;
    justify-content: space-between;
}
.top-line svg{
    color: white;
}
.divv{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}
.top-line:hover > svg{
    color: #1f1f56;
    transition: all .5s ease;
}
.top-tel img{
    padding-right: 15px;
    position: absolute;
}
.top-tel p:hover a {
    color: #fd8300;
}
.top-tel a{
    transition: all 1s ease ;
}
.top img{
    display: inline-block;
}
.logo{
    max-width: 960px;
}
.vipadashka,
.vipadashka1{
    position: relative;
}
.subsub,
.second-sub{
    display: none;
    position: absolute;
}
.vipadashka:hover > ul,
.vipadashka1:hover > ul{
    display: block;
}
.bydki .subsub:hover{
    display: block;
}
.subsub,
.second-sub{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 120px;
    background-color: #e4e4e4;
}
.subsub,
.second-sub{
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 125px;
  background-color: #e4e4ec;
}
.subsub li+li,
.second-sub li+li{
  border-top: 1px solid #cecedd;
}
.subsub,
.second-sub{
  border-radius: 3px;
}
.subsub{
    top: 0;
    left: calc(100% + 7px);
}
.subsub::before{
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    border-left: 4px solid transparent;
    height: 100%;
}

.main-logo {
    background: url(../img/TopPhoto.png) no-repeat center/cover;
    padding: 45px;
}
.email-top p:hover a{
    color: #fd8300;
}
.email-top a{
    transition: all 1s ease;
}
.top a{
    position: relative;
    text-decoration: none;
    color: #25252c;
    font-family: "Arial";
}
header{
    padding-top: 60px
}
.top-line{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.top{
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    padding: 20px;
}
.top 
.phone{
    font-weight: bold;
}

.email-top a{
    padding-right: 15px;
    text-decoration: underline;
    font-size: 16px;
    color: #25252c;
    font-family: "Arial";
}
.skype-top a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
}
.main-logo h2{
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.main-logo p{   
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
    padding: 5px;
}
.button:hover a{
    color: #fd8300;
}
.main-text h1{
    font-family: "Roboto Slab";
}
.button a{
    transition: all 1s ease;
}
p.price {
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    padding: 5px;
}
.main-text a:hover{
    color: #1f1f56;
    transition: all 1s ease;
}
p.price span{
    font-size: 24px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}
h1{
    font-size: 30px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: left;
    padding: 15px 0 ;
}
.main-text p{
    padding: 5px;
    width: 677px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}
.main-text a:hover{
    transition: all 2s;
}
hr{
    border: none;
    width: 100%;
    height: 1px;    
    background-color: #e4e4ec;
    margin: 30px auto;
}
.main-text a{
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}
.main-container{
    padding: 37px 0px 47px;
}
.popular-pr{
    font-size: 12px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 24px;
} 
aside{
    min-width: 220px;
}
aside p{
    padding: 10.5px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    border-radius: 3px 3px 0 0;
}
nav{
    position: sticky;
    top: 60px;
}
.menu a{
    padding: 10.5px 16px;
    display: block;
    background-color: #e4e4ec;
    font-size: 14px;
    line-height: 24px;
    color: #25252c;
    text-decoration: none;
    transition: all .50s;
}

.submenu{   
    display: none;
    list-style: none;
}
.menu li:hover > .submenu{
    display: block;
}
.menu li:hover >a{
    background-color: #fd8300;
    color: #fff;
}
.menu-last{
    border-radius: 0 0 3px 3px;
}
aside ul li{
    overflow: hidden;
}
.menu > li > a{
    position: relative;
}
.menu > li > a:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    transform: translateY(-50%) rotate(135deg);
    transition: all 1s;
}
.menu li:hover > a::before {
    border-color: #fff;
    transform: translateY(-50%) rotate(225deg);
    transition: all 1s;
}
.menu{
    list-style: none;
    
}
.menu > li{
    border-top: 1px solid #cdcddd;
}
.submenu a{
    padding-left: 30px;
    color: #666;
}
.submenu li:hover >a{
    background-color: #cecedd;
    color: #666;
}
.houses{
    margin-bottom: 46px;
    display: flex;
}
.houses p{
    padding: 2px;
}
.houses a:hover{
    text-decoration: underline;
}
h2 a {
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
}
.house1 a{
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none;
}
.house1 p{
    font-size: 13px;
    color: #9999a6;
    list-style: none;
}
.house1:hover h2 > a{
    text-decoration: underline;
}
.house2 a{
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none; 
}
.house2 p{
    font-size: 13px;
    color: #9999a6;
    list-style: none;
}
.house2:hover h2 > a{
    text-decoration: underline;
}
.house3 a{
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none;
}
.house3 p{
    font-size: 13px;
    color: #9999a6;
    list-style: none;
}
.house3:hover h2 > a{
    text-decoration: underline;
}
.house4 a{
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none; 
}
.house4 p{
    font-size: 13px;
    color: #9999a6;
    list-style: none;
}
.house4:hover h2 > a{
    text-decoration: underline;
}
.underline{
    background-color: #ededf5;
    padding: 20px
}
.underline-text{
    column-gap: 144px   ;
}
.underline-text a{
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    font-family: "Arial";
}
.underline-text a:hover{
    text-decoration: underline;
}
.underline-email-skype{
    font-size: 18px;
    line-height: 24px;  
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}
.underline-number a{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: bold;
    font-family: "Arial";
}
.footer{
    text-align: center;
    padding: 9px;
    background-color: #dcdce6;
}
.footer-text{
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}
.price-house h1{
    margin-bottom: 15px;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.price-house {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}
.price-house a{ 
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial"
}
.price-house a:hover{
    color: #1f1f56;
    transition: all 2s ;
}
thead{
    padding: 20px;
    border-radius: 3px;
    background-color: #1f1f56;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    border-radius: 3px 3px 3px 3px;
}
th{
    padding: 4px;
    border-top: 1px solid #274569;;
    border-right: 1px solid #274569;
}
table{
    margin-bottom: 27px;
}
table th{
    color: #fff;
}
table{
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
}
.text{
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}
.name{
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    text-align: left;
}
tbody{
    padding: 10px;
    background-color: #e4e4ec;
}   
td{
    padding: 11px 21px;
    border-top: 1px solid #cdcddd;
    border-right: 1px solid #cdcddd;
    text-align: center;
}
.price-table{
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}
.contacts-t{
    padding-bottom: 15px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.contacts-t p{
    padding-top: 12px;
}
.where-is a{
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}
.numb h2{
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 19px;
}
  .numb p{
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
    margin-bottom: 14px;
}
.sv{
    margin-bottom: 20px;
}
.tel-middle a{
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}
.tel-middle p:hover > a{
    color: #fd8300;
}
.tel-middle p{
    margin-bottom: 10px;
    text-align: left;
}
.email{
    text-decoration: underline;
}
input[type=checkbox]:checked+span {
    top: 3px;
    left: 3%;
    width: 7px;
    height: 4px;
    border-top: 2px solid #1f1f56;
    border-right: 2px solid #1f1f56;
    transform: translate(-47%, -50%) rotate(135deg);
  }
input[type=checkbox] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
  }
  
.parent {
    position: relative;
}
  
.parent span {
    position: absolute;
}
.check {
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}
.gmail a{
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
    transition: all 1s ease;
}
.gmail a:hover{
    color: #fd8300;
}
.konsul h2{
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 19px;
}
.konsul p{
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
    margin-bottom: 4px;
}
.first-numb a{
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    transition: all 1s ease;
    text-decoration: none;
    text-align: left;
}
.first-numb a:hover{
    color: #fd8300;
}
 .name-k{
    padding: 21px;
    text-align: left;
}
.price-th{
    padding: 21px;
    text-align: right;
}

.direct-numb a{
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    transition: all 1s ease;
    text-decoration: none;
    text-align: left; 
}
  .direct-numb a:hover{
    color: #fd8300;
}
.requisite h2{
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 19px;  
}
.requisite p{
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}
.price-textt{
    padding-bottom: 20px;
}
.price-texttt{
    margin-bottom: 20px;
}
.map{
    column-gap: 15px;
}
.form{
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
button {
    width: 140px;
    height: 41px;
    border-radius: 21px;
    background-color: #fd8300;
    border: none;
    transition: all 1s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1f1f56;
  }
  
  .button-text {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
  }
  .value {
    width: 87%;
    padding: 10px 25px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 21px;
    font-style: italic;
    font-family: "Arial";
}
.valuee {
    width: 75%;
    padding: 10px 25px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 21px;
    font-style: italic;
    font-family: "Arial";
  }
.map {
    position: relative;
    overflow: hidden;
    width: 50%;
    min-height: 296px;
} 
iframe{
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.form {
    font-size: 14px;
    width: 50%;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 21px;
  }
  
  .check {
    padding-right:50px;
    padding-top: 13px;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
  }
  textarea ::placeholder {
    content: "";
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
  }
  .inputs {
    column-gap: 10px;
  }
  
  .texts {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    margin-bottom: 9px;
    font-size: 13px;
    font-style: italic;
    font-family: "Arial";
  }
  
  .texte {
    padding: 10px;
    width: 100%;
    max-height: 130px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 21px;
    font-style: italic;
    font-family: "Arial";
    resize: vertical;
  }
  .inputs p {
  min-width: 230px;
}